/* DEVELOPER CLASSES!!! DONT USE IN PRODUCTION */
.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.green-border {
    border-style: solid;
    border-color: green;
}

.yellow-border {
    border-style: solid;
    border-color: yellow;
}
/* END OF DEVELOPER CLASSES */

/* Centers and resizes an image, height: 252px, width: 252px */
.img-circle-252 {
    border-radius: 50%;
    height: 252px;
    width: 252px;
    object-fit: cover;
}

/* Centers and resizes an image, height: 60px, width: 60px */
.img-circle-60 {
    border-radius: 50%;

    height: 60px;
    width: 60px;
    object-fit: cover;
}

/* Applied to the image at the sign in page */
.img-sign-in {
    height: 50rem;
    width: 100%;
    object-fit: cover;
}
